@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-bg: #ffffff;
	--block-bg: #f0f0f0;

	--primary-foreground: #262626;
	--secondary-foreground: #646464;

	--input: #fafafa;
	--border: #d9d9d9;
	--placeholder: #8d8d8d;

	--radius: 20px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-bg: #0b0b0b;
		--block-bg: #262626;

		--primary-foreground: #eeeeee;
		--secondary-foreground: #b4b4b4;

		--input: #191919;
		--border: #3a3a3a;
		--placeholder: #8d8d8d;
	}
}

body {
	background: var(--main-bg);
}
